POSTGRES_AUTH_USER=postgres
POSTGRES_AUTH_PASSWORD=postgres
POSTGRES_APP_USER=postgres
POSTGRES_APP_PASSWORD=postgres

AUTH_DJANGO_SECRET_KEY=auth-service-super-secret-key-2026-very-long-random-value
PORTAL_DJANGO_SECRET_KEY=independent-portal-secret-key-2026-long-random-value
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

VITE_AUTH_URL=http://localhost:8000
VITE_PORTAL_URL=http://localhost:8001
